# Lattice iCEstick — iCE40HX1K-TQ144
# Oscilador de 12 MHz
set_io clk     21

# LEDs: D1..D4 rojos alrededor, D5 verde en el centro
set_io led[0]  99
set_io led[1]  98
set_io led[2]  97
set_io led[3]  96
set_io led[4]  95
